.header{
    /* background-color: blue; */
    position:sticky;
    display: flex;
    /* background-color: antiquewhite; */
    border-bottom: 1px solid lightgray;
    justify-content: space-evenly;
    width: 100%;
    top: 0;
    padding:10px 0px;
    height: 50px;

}

.header__left{
    /* background-color: red; */
    display:flex
}

.header__left > img {
    object-fit: contain;
    height: 40px;
    margin-left: 10px;
}

.header__right{
    /* background-color: green; */
    display:flex
    
}

.header__search{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    height:20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #eef3f8;
}

.header__search>input{
    border: none;
    outline: none;
    background: none;

}