.SidebarStat{
    /* background-color: red; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin: 5px; 

    
}

.SidebarStat>p{
    margin: 2px;
    font-size: 12px;
}


.SidebarStat__data{
    color: blue;
    font-weight: bold;
}

