.header__options{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: grey;
    margin-left:20px;
}

.header__options__title{
    font-size: 12px;
    font-weight: 400;
}

.header__options__icon{
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;

}